@use 'base/variables' as v;
@use 'base/mixins' as m;

.hero{
    min-height: 60rem;
    background-image: url(../img/hero.jpg);
    background-position: center center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    &__texto{
        color: v.$blanco;
        max-width: 70rem;
    }

    &__enlace{
        @include m.boton(v.$terciario, v.$blanco)
    }
}